header {
    background-image: linear-gradient(to right, #4257d1, #18168b);
    color: white;
}

h6 {
    font-size: 16px;
}

.weather-card {
    background: #403a5e;
    color: white;
}

.weather-card p {
    font-size: 12px;
}

.uv-indicator {
    color: white;
}

.uv-indicator[data-uv="high"] {
    background: #ce0000;
}

.uv-indicator[data-uv="medium"] {
    background: #f7a800;
}

.uv-indicator[data-uv="low"] {
    background: #00ac00;
}

@media screen and (min-width: 1430px){
    h6 {
        font-size: 24px;
    }
    .weather-card p {
        font-size: 16px;
    }
}